// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-grid-container {
  display: inline-block;
  margin: 15px;
}

.product-info-container {
  padding-top: 10%;
  font-family: 'Oswald', sans-serif;
  text-align: left;
}

.product-show-container {
  margin-top: 5%;
  margin-left: 10%;
  position: relative;
}

.product-show-link {
  color: #000;
}

.product-show-link:hover {
  color: #000;
  text-decoration: none;
}

.product-show-info {
  position: absolute;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  color: #000;
}

.product-show-title {
  font-size: 20px;
}
