// Place all the styles related to the api/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-grid-container {
  display: inline-block;
  margin: 15px;
}

.product-info-container {
  font-family: Oswald, sans-serif;
  padding-top: 10%;
  text-align: left;
}

.product-show-container {
  margin-top: 5%;
  margin-left: 10%;
  position: relative;
}

.product-show-link {
  color: #000;
}

.product-show-link:hover {
  color: #000;
  text-decoration: none;
}

.product-show-info {
  position: absolute;
  display: inline-block;
  margin-left: 2.5%;
  margin-right: 10%;
  color: #000;
}

.product-show-title {
  font-style: Oswald, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin: auto;
}

.product-show-desc {
  margin-top: 10px;
  font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.7;
}

.add-to-cart-container {
  margin: 10px 0;
}

.size-select-direction {
  font-family: Oswald, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.add-to-cart-btn {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 10px 10px;
  border-radius: 2px;
  width: 80%;
  height: 20%;
  outline: none;
}

input[name=sizeSelect] {
  display: none;
}

.add-to-cart-form label {
  color: rgb(17, 17, 17);
  display: inline-flex;
  cursor: pointer;
  -webkit-appearance: button;
  height: 50px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.size-label:hover {
  border: 1px solid black;
}
