.logo {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}

.header-nav {
}

.nav-links {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
}

.category-links {
  text-decoration: none;
  padding: 10px;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
}

.category-links:visited {
  color: black;
}

.new-arrivals-container {
  text-align: center;
}

.new-arrivals-banner {
  height: 340px;
  width: 800px;
  background-image: url('newarrivals-banner.gif');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  margin-left: 150px;
  border: 15px solid black;
}

.accessories-banner {
  height: 200px;
  width: 450px;
  background-image: url('acc-banner.jpg');
  margin-left: 125px;
  margin-top: 20px;
}
